body, html {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #eee;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
  body {
    width: 400px;
    height: 300px;
  }
}
body,
button,
input {
  font-size: 11px;
}

input,
select,
button {
  border: solid 1px #d8d8d8;
  background-color: #fff;
  outline: none;
}
input[type=button],
select,
button {
  cursor: pointer;
}
button:active,
input[type=button]:active {
  opacity: 0.7;
}

select {
  background: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url(arrow.png);
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 0;
}
select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}

#toolbar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
#toolbar input {
  width: 45px;
  height: 24px;
  font-family: fontello;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 120%;
  margin: 1px;
  color: #fff;
  border: none;
}
#toolbar input:nth-child(3) {
  background-color: #edb700;
}
#toolbar input:nth-child(2) {
  background-color: #29a24c;
}
#toolbar input:nth-child(1) {
  background-color: #3c81e7;
}

#filling,
#filling div {
  display: flex;
  align-items: center;
  justify-content: center;
}
#filling {
  flex: 1;
  flex-direction: column;
}
#filling button,
#filling select {
  height: 80px;
}
#filling button {
  overflow: hidden;
  width: 140px;
  line-height: 16px;
}
#filling select {
  width: 16px;
  text-indent: 30px;
  border-left: none;
}
#filling input {
  width:  156px;
  height: 30px;
  text-align: center;
  border-top: none;
  -webkit-appearance: none;
}

#tools {
  display: flex;
  flex-direction: row;
  padding: 0 3px 6px 3px;
}
#tools>input {
  flex: 1;
  margin: 0 3px;
  height: 30px;
}
