:root {
  --bg: #f8f8f8;
  --bg-dark: #d8d8d8;
  --bg-border: #d8d8d8;
  --fg: #000;
  --bg-bug: #edb700;
  --bg-settings: #3c81e7;
  --bg-info: #29a24c;
  --fg-toolbar: #fff;
  --fg-permission: #fff;
  --bg-permission: #734338;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-dark: #202124;
    --bg-border: #5b5b5b;
    --bg: #292a2d;
    --fg: #ccd0d3;
    --bg-bug: #5d4800;
    --bg-settings: #2a5fac;
    --bg-info: #1f7d3a;
    --fg-toolbar: #ccd0d3;
  }
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 430px;
  background-color: var(--bg);
  font-size: 13px;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

body,
button,
input {
  color: var(--fg);
  font-size: 13px;
}

input,
select,
button {
  border: none;
  outline: none;
}
input[type=button],
select,
button {
  cursor: pointer;
  background-color: transparent;
}
button:active,
input[type=button]:active {
  opacity: 0.7;
}

select {
  background: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url(arrow.png);
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 0;
}
select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}

button * {
  pointer-events: none;
}

#toolbar {
  display: flex;
}
#toolbar input {
  width: 64px;
  height: 24px;
  font-size: 120%;
  margin: 0;
  color: var(--fg-toolbar);
  border: none;
}
#toolbar input[data-cmd="open-bugs"] {
  font-family: fontello;
  background-color: var(--bg-bug);
}
#toolbar input[data-cmd="open-faqs"] {
  font-family: fontello;
  background-color: var(--bg-info);
}
#toolbar input[data-cmd="open-settings"] {
  font-family: fontello;
  background-color: var(--bg-settings);
}

#toolbar input#rate {
  font-size: 12px;
  color: #424242;
  background-color: #ffa400;
}
#toolbar input#rate[data-hide=true] {
  display: none;
}

#filling,
#filling div {
  display: flex;
  align-items: center;
  justify-content: center;
}
#filling {
  flex: 1;
  flex-direction: column;
  margin: 0;
}
#filling button {
  overflow: hidden;
  width: 100vw;
  height: 100px;
  line-height: 20px;
}
#filling select {
  margin-left: -32px;
  width: 32px;
  height: 32px;
  text-indent: 32px;
  align-self: start;
}
#filling input {
  width: 100vw;
  height: 34px;
  text-align: center;
  border-top: none;
  appearance: none;
  font-style: italic;
  background-color: var(--bg-dark);
}
#filling b {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#tools,
#clipboard {
  display: grid;
  flex-direction: row;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1px;
}
#clipboard > button,
#tools > button {
  padding: 10px;
  font-size: 12px;
  cursor: pointer;
  position: relative;
}
#clipboard > button:hover,
#tools > button:hover {
  background-color: rgba(128, 128, 128, 0.2);
}
#tools > button:not(:last-child)::after,
#clipboard > button:not(:last-child)::after {
  content: '';
  position: absolute;
  right: -1px;
  width: 1px;
  height: 14px;
  background-color: var(--bg-border) !important;
}
#clipboard > span {
  place-self: center;
}

#permission {
  padding: 1ch;
  color: var(--fg-permission);
  background-color: var(--bg-permission);
}
#permission.hidden {
  display: none;
}
#permission > p {
  display: flex;
  justify-content: end;
  margin: 1ch 0;
  gap: 1ch;
}
#permission input[type=submit],
#permission input[type=button] {
  height: 28px;
  color: #444;
  background-image: linear-gradient(rgb(237, 237, 237), rgb(237, 237, 237) 38%, rgb(222, 222, 222));
  box-shadow: rgba(0, 0, 0, 0.08) 0 1px 0, rgba(255, 255, 255, 0.75) 0 1px 2px inset;
  text-shadow: rgb(240, 240, 240) 0 1px 0;
}
