body {
  box-sizing: border-box;
  margin: 5px 0 0 0;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 13px;
  min-width: 600px;
  min-height: 500px;
  background-color: #fff;
  color: #4d5156;
  height: calc(100vh - 5px);
}
button,
input[type=submit],
input[type=button] {
  height: 24px;
  color: #444;
  background-image: linear-gradient(rgb(237, 237, 237), rgb(237, 237, 237) 38%, rgb(222, 222, 222));
  box-shadow: rgba(0, 0, 0, 0.08) 0 1px 0, rgba(255, 255, 255, 0.75) 0 1px 2px inset;
  text-shadow: rgb(240, 240, 240) 0 1px 0;
}
button,
textarea,
input[type=submit],
input[type=button] {
  border: solid 1px rgba(0, 0, 0, 0.25);
}
input[type=button]:disabled {
  opacity: 0.5;
}
textarea {
  width: 100%;
  box-sizing: border-box;
  display: block;
  padding: 5px;
}
table {
  width: 100%;
}
input[type=button] {
  cursor: pointer;
}
input[type=text] {
  text-indent: 5px;
}
select,
input[type=text],
input[type=button] {
  height: 26px;
  box-sizing: border-box;
  border: solid 1px rgba(0, 0, 0, 0.25);
}
code {
  padding: 0 3px;
  background-color: rgba(0, 0, 0, 0.05);
}
#tabs {
  z-index: 10;
}
#tabs > span {
  display: inline-block;
  border: solid 1px #ccc;
  padding: 2px 5px;
  background-color: #eee;
  margin-bottom: -1px;
  min-width: 100px;
  height: 26px;
  line-height: 26px;
  text-align: center;
  cursor: pointer;
}
#tabs > span[data-active=true] {
  background-color: #fff;
  border-bottom: solid 1px #fff;
}
#panels {
  border: solid 1px #ccc;
}
#panels > div {
  padding: 10px;
}
#panels > div:not([data-active=true]) {
  display: none;
}
#save {
  padding: 10px;
}
input[readonly],
#profile td:first-child {
  color: #888;
  cursor: default;
}

[hbox] {
  display: flex;
  flex-direction: row;
}
[vbox] {
  display: flex;
  flex-direction: column;
}
[flex="1"] {
  flex: 1;
}
[pack=center] {
  justify-content: center;
}
[pack=end] {
  justify-content: flex-end;
}
[align=center] {
  align-items: center;
}
[space="2"] > * {
  margin: 2px;
}

.notes {
  background-color: rgba(0, 0, 0, 0.1);
  font-size: 80%;
}
.editable input[type=text] {
  border-color: transparent;
  width: 100%;
  box-sizing: border-box;
  outline: none;
}
.editable input[type=text]:not([readonly]):focus {
  background-color: #ddecff;
}

input[type=button][data-cmd="delete-row"] {
  padding: 0 10px;
}
