<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Sarah Avilov</string>
	<key>Builder Version</key>
	<string>11601.7.8</string>
	<key>CFBundleDisplayName</key>
	<string>AutoFill Forms</string>
	<key>CFBundleIdentifier</key>
	<string>com.add0n.autofillforms</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>0.1.1</string>
	<key>CFBundleVersion</key>
	<string>2</string>
	<key>Chrome</key>
	<dict>
		<key>Database Quota</key>
		<integer>1048576</integer>
		<key>Global Page</key>
		<string>lib/safari/background.html</string>
		<key>Popovers</key>
		<array>
			<dict>
				<key>Filename</key>
				<string>data/popup/index.html</string>
				<key>Height</key>
				<integer>300</integer>
				<key>Identifier</key>
				<string>popup</string>
				<key>Width</key>
				<integer>400</integer>
			</dict>
		</array>
		<key>Toolbar Items</key>
		<array>
			<dict>
				<key>Identifier</key>
				<string>toolbar-button</string>
				<key>Image</key>
				<string>data/icons/safari.png</string>
				<key>Include By Default</key>
				<true/>
				<key>Label</key>
				<string>AutoFill Forms</string>
				<key>Popover</key>
				<string>popup</string>
				<key>Tool Tip</key>
				<string>AutoFill Forms</string>
			</dict>
		</array>
	</dict>
	<key>Companion Bundle Identifier</key>
	<array/>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict>
			<key>Start</key>
			<array>
				<string>data/inject/safari/safari.js</string>
				<string>data/inject/inject.js</string>
			</array>
		</dict>
	</dict>
	<key>Description</key>
	<string>One click form filler that supports multiple profiles</string>
	<key>DeveloperIdentifier</key>
	<string>RED8XKG2R4</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Include Secure Pages</key>
			<true/>
			<key>Level</key>
			<string>All</string>
		</dict>
	</dict>
	<key>Update Manifest URL</key>
	<string></string>
	<key>Website</key>
	<string>http://add0n.com/autofillforms-e10s.html</string>
</dict>
</plist>
